#root, .container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  /* padding: 2rem; */
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 480px) {
  main {
    padding-top: 6rem;
  }
}
